@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #fff;
}
.main-cont {
  border-left: solid 5px #d25751;
}
.main-inter {
  border-left: solid 5px #8dc482;
}
.princ{
  margin: 100px 0px 0px 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.unid {
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2rem;
  color: #8dc482;
  margin-top: 15%;
}
.title-unid {
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  font-size: 3rem;
  color: #27315d;
  margin-top: 3%;
}
.title-cap {
  background-color: #d25751;
  padding: 5vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  margin: 6% 0% 4%;
}
.glass-effect {
  background: #56a3a656;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1% 5% 5%;
  padding: 1% 1.5%;
}
.glass-effect2 {
  background: #f8d16fa1;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1% 5% 5%;
  padding: 1% 1.5%;
}
.glass-effect-ref {
  background: #a3e2966a;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 1% 2% 5%;
  padding: 1% 2%;
}
.text {
  margin: 5% 2% 6%;
  font-size: large;
  text-align: justify;
}

.text p{
  text-indent: 35px;
}
.ref .text p{
  text-indent: 0px;
}
.pics img, .pics2 img  {
  width: 100%;
  margin: 0 auto;
}
.pics {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.pics2 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.pics sub {
  color: #27315d;
  font-style: italic;
  font-size: smaller;
}

.subtitle {
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
  font-size: 1.8rem;
  font-style: bold;
  margin: 4% 2% 1% 6%;
  color: #101a46;
}
.main-inter .subtitle{
  margin-bottom: 2%;
}
.subtitle2 {
  font-family: "Lexend Deca", sans-serif;
  text-align: left;
  font-size: 2rem;
  font-style: bold;
  margin: 4% 2% 4%;
  color: #101a46;
  display: inline;
}
.indic-title {
  width: 100%;
  margin-top: 4%;
  text-align: left;
}
.indic-title h3 {
  display: inline-block;
  background-color: #8dc482;
  padding: 1%;
  width: fit-content;
  color: #ffffff;
  border-radius: 20px;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
}
.icon img {
  width: 100%;
}
.icon {
  width: 4%;
  height: 4%;
  display: inline-block;
  margin: 2%;
  margin-right: 1.3%;
}
.indic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 40vh;
  font-size: small;
  padding: 0%;
}
.indic div.pics {
  margin: 0% 3%;
  width: 40%;
  float: left;
}
.indic figcaption {
  font-family: "Lexend Deca", sans-serif;
  font-style: bold;
  font-size: 13pt;
}
section ul {
  margin-left: 15%;
}
section li {
  margin-bottom: 1%;
}
.ref-grid{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 2%;
}
.ref a{
  word-break: break-all;
}

.ref p:nth-child(1){
text-align: center;
font-weight: bold;
margin-bottom: 2.5%;
}
.vert-bar{
  content: "";
  border-left: 1.5px #27315dcb solid ;
  height: 80%;
  margin-top: 30px;
}

.footer{
  margin-top: 5%;
  width:100%;
  height: 270px;
  position: absolute;
  z-index: 2;
  background-color: #56a3a6;
  display: grid;
  grid-template-rows: 90% auto;
  color: #fff;
}
.footer-conteiner{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6%;
  padding: 3% 5%;
} 
.footer-link, .footer-link-2{
  display: flex;
  flex-direction: column;
}
.footer-conteiner a{
  text-decoration: none;
  color: #fff;
  margin-bottom: .9%;
}
.footer-conteiner a:hover{
  text-decoration: underline;
}
footer hr{
  margin-bottom: 2%;
}
@media (max-width: 970px) {
  .unid {
    margin-top: 19%;
    font-size: 1.7rem;
  }
  .title-unid {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2.5rem;
    color: #27315d;
    margin-top: 7%;
  }
  .title-cap {
    padding: 3vh;
    background-color: #d25751;
    font-size: 1.7rem;
    font-family: "Lexend Deca", sans-serif;
    color: #ffffff;
    margin: 3% 1.6% 3%;
  }
  .glass-effect,
  .glass-effect2 {
    margin: 1% 1.6% 8%;
  }
  .text {
    margin: 3% 1.7% 3.5%;
    font-size: medium;
  }
 

  .pics img {
    width: 100%;
    margin: 0 auto;
  }
  .pics {
    width: 80%;
    margin: 0 auto 7%;
  }
  section {
    width: 90%;
  }
  .subtitle {
    font-size: 1.5rem;
    margin: 3% 1.7% 2%;
  }
}
.button-cap{
  margin: 2em 5% 2em 2%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.button-cap a{
  width: 295px
}
.button-cap button{
  background-color: #56a3a6;
  color: #fff;
  font-size: larger;
  border-radius:25px;
  outline: 0;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 2% 7%;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.button-cap button p{
  margin-bottom: 0px;
}
.button-cap button .btn-svg{
  display: flex;
  align-items: center;
  height: 80%;
  width: 14%;
}
.btn-svg svg{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.button-cap button:hover{
  background-color: #69b6b9;
}
.btn-ant{
  transform: rotate(180deg);
}
.block-footer{
  content: '';
  width: 270px;
}

#copy{
  text-align: center;
  font-size: .8rem;
  color: #ffffffab;
}
#footer-title{
  font-size: 1.7rem;
}
#block{
  content: '';
  height: 3.2rem;
}
@media (max-width: 800px) {
  .unid {
    margin-top: 22%;
    font-size: 1.5rem;
  }
  .title-unid {
    font-family: "Lexend Deca", sans-serif;
    font-size: 2.3rem;
    color: #27315d;
    margin-top: 10%;
  }
  .title-cap {
    padding: 2vh;
    font-size: 1.5rem;
    background-color: #d25751;
    color: #ffffff;
    margin: 4% 1.3% 4%;
  }
  .subtitle {
    font-size: 1.3rem;
  }
  .button-cap{
    text-align: center;
  }
}
@media (max-width: 600px) {
  .unid {
    margin-top: 25%;
    font-size: 1.3rem;
  }
  .title-unid {
    font-size: 2rem;
    font-family: "Lexend Deca", sans-serif;
    margin-top: 13%;
  }
  .title-cap {
    padding: 1vh;
    background-color: #d25751;
    font-size: 1.3rem;
    color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    margin: 4.7% 1% 4.7%;
  }
  .pics {
    width: 95%;
    margin: 0 auto 10%;
  }
  .subtitle {
    font-size: 1.1rem;
  }
  .button-cap{
    margin: 2em auto;
    flex-direction: column;
    align-items: center;
    
  }
  .button-cap a{
    height: 100%;
    width: 90%;
    margin-bottom: 2%;
  }
  .button-cap button{
    font-size: large;
    font-weight: 500;
    width: 100%;
    padding: 2% 10%;
    align-content: center;
  }
  .button-cap button .btn-svg{
    
    width: 12%;
    height: 100%;
  }
  .btn-svg svg{
    height: 100%;
  }
}
@media (max-width: 450px) {
 
  .unid {
    margin-top: 27%;
  }
  .title-unid {
    margin-top: 15%;
  }
  .pics {
    width: 100%;
  }
  section {
    width: 97%;
  }
  .text {
    font-size: small;
  }
  .button-cap button{
    font-size: medium;
  }
  .footer-conteiner{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #block{
    height: 15%;
  }

}
.men {
  max-width: 15%;
}

table {

  border: 1px solid #eee;
  border-collapse: collapse;
  text-align: left;
  width: 80%;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

table thead th {

  padding: 10px;
  font-size: 1em;
  color: #000;
  font-weight: 600;
}

table tbody tr td {

  display: table-cell;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  position: relative;
}

table tbody tr {

  border: none;
  display: table-row;
}

table tbody tr:nth-child(odd) {

  background: #f2f2f2;
}

table tbody tr td button {

  display: inline-block;
  padding: 10px 15px;
  position: initial;
  transform: translate(0);
  width: auto;
}

table tbody tr td button {

  background: #4CAF50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
  color: #fff;
  font-weight: 700;;
  padding: 10px 0;
  width: 100%;
}

table thead {

  display: table-header-group;
  font-weight: 500;
}


table tbody tr td:before {

  display: none;
}

table tbody tr td button:hover, table tbody tr td button:focus {

  background: #a795fe;
  cursor: pointer;
}
@media all and (max-width: 800px) {

  table tbody tr td {

      display: block;
      text-align: right;
  }

  table tbody tr td:before {

      content: attr(data-title);
      position: absolute;
      left: 15px;
      display: block;
      font-weight: 600;
      font-size: 1em;
  }

  table {

      border: none;
  }

  table thead {

      display: none;
  }

  table tbody tr {

      margin-bottom: 10px;
      display: block;
      border: 1px solid #dad6eb;
  }


}
