.title-ex {
  color: #d25751;
  padding: 2vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 3rem;
  margin: 2% 0% 2% 0%;
  display: inline-block;
}
.icon img {
  width: 100%;
  margin: 0 2%;
}
.icon2 {
  width: 9%;
  text-align: center;
  margin: 0 2%;
  display: inline-block;
}
.icon {
  width: 7%;
  text-align: center;
  margin-left: 2%;
  display: inline-block;
}
.subtitle-ex {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.8rem;
  font-style: bold;
  margin: 4% 2% 4%;
  color: #101a46;
}
.ex {
  background-color: #8dc4823f;
  border-radius: 7px;
  padding: 2% 5%;
  box-shadow: rgba(0, 0, 0, 0.178) 0px 1px 2px 0px;
}
.cel {
  display: inline-block;
  color: #ffffff;
  background-color: #d25751;
  padding: 0.5% 1.6% 0.5% 1.6%;
  border-radius: 50%;
  margin: 4% 2% 2% 1%;
  font-size: large;
  font-weight: bolder;
  text-align: justify;
}
.ex p {
  display: inline;
  font-size: larger;
  text-align: justify;
}
.quest p {
  display: inline;
  font-size: larger;
  text-align: justify;
}
.quest {
  margin-left: 5%;
}
.sub-ex {
  padding-left: 6%;
  font-size: medium;
}
.cel2 {
  display: inline-block;
  color: #ffffff;
  background-color: #56a3a6;
  padding: 0.4% 0.3% 0.4% 0.3%;
  border-radius: 50%;
  margin: 2% 2% 4% 1%;
  font-size: small;
  text-align: justify;
}
