.title-ex {
  color: #d25751;
  padding: 2vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 3rem;
  margin: 2% 0% 2% 0%;
  display: inline-block;
}
.icon img {
  width: 100%;
  margin: 0 2%;
}
.icon2 {
  width: 9%;
  text-align: center;
  margin: 0 2%;
  display: inline-block;
}
.icon {
  width: 7%;
  text-align: center;
  margin-left: 2%;
  display: inline-block;
}
.subtitle-ex {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.8rem;
  font-style: bold;
  margin: 3% 2% 4%;
  color: #101a46;
}
.ex {
  background-color: #8dc4823f;
  border-radius: 7px;
  padding: 3.5% 5%;
  box-shadow: rgba(0, 0, 0, 0.178) 0px 1px 2px 0px;
}
.cel{
  float: left;
  color: #ffffff;
  background-color: #d25751;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.2% ;
  border-radius: 50%;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.ex p{
  display: inline;
  font-size: larger;
  text-align: justify;
}
.quest p {
  display: inline;
  font-size: larger;
  text-align: justify;
}
.quest {
  margin-left: 5%;
}
.sub-ex {
  padding-left: 6%;
  font-size: medium;
}
.cel2 {
  float: left;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  background-color: #56a3a6;
  border-radius: 50%;
  margin-right: 1%;
  font-size: medium;
  text-align: center;
}
