.title-princ{
    font-family: "Lexend Deca", sans-serif;
    font-size: 3rem;
    color: #d25751;
    margin-top: 3em;
    margin-bottom: 0px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1em auto;
}
.card-sum{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 16px 0 rgba( 0, 0, 0, 0.15 );
    margin: 1.5em auto;
    height: 800px;
    transition: .8s;
    background: rgba( 141, 196, 130, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}
.card-sum a{
    text-decoration: none;
    color: #27315d;
    font-size: larger;
    transition: .3s;
    
}
.card-sum ul{
    transition: .3s;
    margin: 2em 4em ;
}
.card-sum li{
    padding: .5em;
}
.card-sum a:hover{
    color:#d25751;
}
.card-sum:hover{
    box-shadow: 0 3px 12px 0 rgba( 0, 0, 0, 0.25 );
    transform: scale(1.002);
}
@media (max-width: 920px){
    .title-princ{
        font-size: 2rem;
        margin: 4em 0 2em
    }
    .cards{
        
        width: 96%;
    }
    
}
@media (max-width:450px){
    .title-princ{
        font-size: 1.4rem;
    }
}