.title-princ{
    font-family: "Lexend Deca", sans-serif;
    font-size: xx-large;
    color: #d25751;
    margin-top: 3em;
    margin-bottom: 0px;
    text-align: center;
}
.card {
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 2vh 0.5vw;
    text-align: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.01);
  }
  .cards {
    margin: 0 auto;
    text-align: center;
  }
  .title-card {
    font-size:x-large;
    color: #d25751;
    margin-top: 50%;
    font-family: "Lexend Deca", sans-serif;
  }
.cards:hover .card:not(:hover){
    opacity: .8;
}
.title-down{
    color: #aa2a24;
    font-size: xx-large;
    text-align: center;
    margin: 0 auto;
    font-family: "Lexend Deca", sans-serif;
  }
  .download{
    text-align: center;
    margin: 60px;
  }
  .download button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: 30px;
    background-color: #d25751;
    border: none;
    transition: .5s;
  }
  .download button:hover{
    transform: scale(1.05);
  }
  .download a{
    color:#fff;
    font-size: large;
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
  }
@media (max-width: 920px){
    .title-princ{
        font-size: x-large;
        margin: 4em 0 2em 0em;
    }
    .download{
        text-align: center;
        margin: 20px;
      }
      .download button{
        width: 280px;
        height: 40px;
        border-radius: 10px;
        cursor: pointer;
        margin: 10px;
        background-color: #d25751;
        border: none;
        transition: .5s;
      }

    
}
@media (max-width:700px){
    .card {
        width: 500px;
        height: 550px;
      }
}
@media (max-width:550px){
    .card {
        width: 400px;
        height: 430px;
      }
    .title-princ{
        font-size: larger;
        margin: 5em 0 1em 0em;
    }
}
@media (max-width:450px){
    .card {
        width: 340px;
        height: 380px;
      }
      .download button{
        width: 200px;
        height: 30px;
        border-radius: 70px;
      }
    .title-down{
        font-size: large;
    }
}
@media (max-width:350px){
    .card {
        width: 250px;
        height: 300px;
      }
}